body {
	margin: 0;
}

.page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

}
.container .row h2{
	font-size: 	175%;
	margin-bottom:5%;
	margin-top:10%;
}
.container .row label{

display : block;
}
.site-content {
	flex: 1;
}
#main{
	position: relative;

	padding-top:5%;
	


}
.textconnecter{
	text-align : center;
}
.projet1{
	withd : 400px;
	max-width: 400px;
	height : 300px;
}
#content-wrap {
  padding-bottom: 215px;
}
.footer {
	position:absolute;
	margin-bottom:0;
	padding-bottom:0%;
	margin-top:5%;
	right:0;
	left:0;
    text-align:center;
    background-color:#363A40;
    color: #ffffff;
	width:100%;
	height:auto;
	display:table-row;
	
}
header{
	position : relative;
	margin:0;
	margin-bottom: 6%;
}
header nav{
	width: 5%;
	height : auto;
	margin: 0;
	padding:0;
	background-color:#FFFFFF;
	margin-top : -6%;
	margin-bottom:10%;
	margin-left: 6%;
	
}
header nav ul {
	margin: 0px;
	padding: 30px;
	
	
}
header nav li{
	list-style-type: none;	
}
header nav a{
	display: inline-block;
	text-decoration: none;
	font-size : 135%;
	text-align : center;
	padding: 20px;
	color:#000000;
}
header nav ul{
	
    margin: 0px;
    padding: 10px;
}

header nav li ul{
	position : absolute;
	margin bottom: 15%;
}
header nav a:hover {
	color:#56efff;
}
header nav ul li ul li{
	display : none;
}
header nav ul li:hover ul li{
	display : block;
}

.titreInscription{
	padding-top:1%;
	margin-left: 2%;
	padding-bottom: 1%;
}
.coco p{
	padding-top:1%;
	margin-left: 2%;
}
#main1{

}
#main1 h2{
	padding-bottom: 2%;
}
.nav2{
	background-color:#FFFFFF;
}
.LD{
	display: table;
    width: 100%;
    margin: 0;
    margin-left: 0,5%;
    margin-top: -9%;
}
.lpt{
    list-style-type: none;
    margin-left: 20%;
    width: 20%;
    text-align: center;
    margin-top:0%; 
	
}
.fpt{
 list-style-type: none;
    float: right;
    width: 20%;
    text-align: center;
    margin-right: 23%;
    margin-top: -6%;
}
.sct{
	list-style-type: none;
    float: right;
    width: 20%;
    text-align: center;
    margin-right: -35%;
    margin-top: -6%;
}
.panier{
	float : right;
	margin-right : -40%;
	margin-top : -4%;
	list-style-type : none;
}
.LD ul{
	margin: 0px;
	padding: 0px;
	overflow:hidden;
}
.LD a{
	display : block;
	text-decoration:none;
	color:black;
	border:none;
	background-color:#FFFFFF;
	padding-top: 10px;
	padding-bottom:10px;
	margin-top:20%;
	font-size : 130%;
}
.foot ul{
	height:15%;
}
.foot li{
	list-style-type: none;
	margin-right:10%;
	margin-top:2%;
}
.foot a{
	display: inline-block;
	text-decoration: none;
	text-align:center;
	color:#FFFFFF;
}
.menu-accueil:hover{
	border-top: 5px;
	background-color:#E3E6FF;
}
.menu-marche:hover{
		border-top: 5px;
		background-color:#E3E6FF;
}
.menu-projet:hover{
		border-top: 5px;
		background-color:#E3E6FF;
}
.menu-compte:hover{
		border-top: 5px;
		background-color:#E3E6FF;
}
.menu-boutique:hover{
		border-top: 5px;
		background-color:#E3E6FF;
}

.foot{
	display: table;
	width:25%;
	height:105px;
	float:left;
}
p.Footertxt{
	float:left;
	width:25%;
}
.news{
	width:25%;
	display:table;
	height:105px;
	float:left;
	margin-bottom:1%;
}
.newsp{
	font-size:14px;
}
.newsp2{
	font-size:14px;
}
.reseaux{
	width:25%;
	display:table;
	height:105px;
	float:left;
}
#nom{
	width:300px;
	height:40px;
	margin-bottom:2%;
}
#prenom{
	width:300px;
	height:40px;
	margin-bottom:2%;
}
#mail{
	width:300px;
	height:40px;
	margin-bottom:2%;
}
#tel{
	width:300px;
	height:40px;
	margin-bottom:2%;
}
#descrp{
	width:300px;
	height:100px;
	margin-bottom:2%;
}
.projet{
	margin-top:7%;
	margin-left:40%;
}
#menu{display: none;}
    div.dropdown {display:inline-block;overflow:hidden;margin-top:-5%;
	margin-left : 50%;}
    button.drpbutt{background-color:white;color:white;border:none;font-size:18px;}
   
    div.drpdwn-content
    {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 18%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    div.drpbutt:hover div.drpdwn-content{display:block;}
    div.dropdown:hover div.drpdwn-content {display: block;}
	div.drpdwn-content:hover ul.Monuments {display:block;}


.container-fluid{
	padding :0;
	margin:0;
}
.row{
	padding:0;
	margin:0;
}
.Dprojet a{
	text-decoration:none;
	color:#5DADE2 ;
}
.red{
	margin-bottom:5%;
	background-color: #FFFFFF;
	padding-top: 3%;
	padding-bottom: 3%;
}
.red h2{
	font-size:150%;
	text-align:center;
	font-family: Arial, sans-serif;
}
.red h3{
	font-size:120%;
	text-align:center;
	font-family: Georgia, sans-serif;
}
.teste{
margin-bottom:3%;
}
.teste h5{
padding: 0;
margin-bottom:3%;
font-family: Arial, sans-serif;
font-size: 140%;
text-align:center;
}
.teste p{
padding-left: 9%;
font-size: 110%;
font-family:Georgia, sans-serif; 
}

	
.hauteur h5 {
  padding-bottom:50px;
}

.découvrez{
	float: right;
}
.lancez{
	float:left;
}
#panier{
	width : 60px;
	height : 60px;
}
#menud{
	width : 50px;
	height : 50px;
}
.enTT{
	display : block;
	border : solids;
}
.inscrp h2{
	 text-align : center;
	 padding-bottom:30px;
}